
* {
  font-family: 'Cairo', sans-serif ;
}


.card{
margin: 10px;
padding: 0px;
width: 250px;

}
.navbar{
  padding: 0px;
  font-weight:500;
  background: #e9c62c;


}

thead th{
  background-color: #ecd87d;
}